@tailwind base;
@tailwind components;
@tailwind utilities;

nav{
    background-color: #935978 !important; 
}

h1{
    color:#3FD7E8 !important;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
  }
 
  .lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .lora-bold{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  .under{
    background-color: #E8D33F;

  }
  .under3d{
    color: #E8D33F
  }

  .navbarbtn:hover{
    background-color: #E8D33F;
    color: black;
    border-width: 2px;
    border-color: black;
  }
  
  .under:hover{
    background-color: #1DE9F5;
  }
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
.text-phrase{
  color: #305B5E !important;
}
.bold-phrase{
  color: #DE0285 !important;
}

.after3d {
  position: relative;
  color: #E8D33F;
  font-weight: bold;
}

.after3d::after {
  content: 'JH'; /* Misma letra que el texto */
  position: absolute;
  top: 8px; /* Ajuste de la sombra hacia abajo */
  left: 0px; /* Ajuste de la sombra hacia la derecha */
  color: black; /* Color gris para la sombra */
  z-index: -1; /* Coloca la sombra detrás del texto */
}
